extends chrt-~

block head2
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  
block input_form_fields
    p Select book:
    select(name="bookId")
      option 1
      option 2
      option 3
    p Consider users that made <br/>their last reading earlier than:
    input(name="lastReading", type="text") 
