doctype 5
html
  head
    title Book HeatMap Prototype #{version}
    
    link(rel='icon', href='/images/favicon.jpeg', type='image/x-icon')

    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/texts.css')
    script(type='text/javascript', src='http://codeorigin.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js")

    block head
         
  body
    block content

    